[Unit]
Description=uWSGI instance to serve <app>'s Backend
After=network.target

[Service]
User=<user>
Group=www-data
WorkingDirectory=<path to backend>
Environment="PATH=<path to backend>/<virtual environment>/bin"
ExecStart=<path to backend>/<virtual environment>/bin/uwsgi --ini <path to backend>/backend.ini

[Install]
WantedBy=multi-user.target
